

.wrapper {
  margin: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 120px 120px 120px;
justify-content: right;
  background-color: #fff;
  color: #444;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.header {
  background-color: #999;
}
